<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home Page</title>
</head>
<body>
{{> header}}
<br />
  <p>Some text here</p>
  <br />
  <p>{{screemIt welcomeMessage}}</p>


  {{> footer}}
</body>
